@font-face {
  font-family: essays1743;
  src: url("fonts/essays1743-webfont.woff2") format("woff2"),
    url("fonts/essays1743-webfont.woff") format("woff"),
    url("fonts/essays1743-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: notosans;
  src: url("fonts/notosans-regular-webfont.woff2") format("woff2"),
    url("fonts/notosans-regular-webfont.woff") format("woff"),
    url("fonts/notosans-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: notosans;
  src: url("fonts/notosans-italic-webfont.woff2") format("woff2"),
    url("fonts/notosans-italic-webfont.woff") format("woff"),
    url("fonts/notosans-italic-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: notosans;
  src: url("fonts/notosans-bold-webfont.woff2") format("woff2"),
    url("fonts/notosans-bold-webfont.woff") format("woff"),
    url("fonts/notosans-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: notosans;
  src: url("fonts/notosans-bolditalic-webfont.woff2") format("woff2"),
    url("fonts/notosans-bolditalic-webfont.woff") format("woff"),
    url("fonts/notosans-bolditalic-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
