@use "globals" as g;

// Legacy
strong,
b {
  font-weight: 800;
}

em,
i {
  font-style: italic;
}

.q-list {
  @include g.defaultYSpace;

  & li {
    @extend %default-ul-li;
    @include g.defaultXSpace;
  }
}

#tns1-iw,
.cli-barmodal-open,
.cli-modal-open,
.modal-open,
.tns-ovh {
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
