@use "globals" as g;

// Legacy
strong,
b {
  font-weight: 800;
}

em,
i {
  font-style: italic;
}

small {
  font-size: g.$small-text;
}

// For TinyMCE alignment buttons
.aligncenter {
  text-align: center;
}

.alignleft {
  text-align: initial;
}

.alignright {
  text-align: right;
}

// Screen Readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.highlight-box {
  @extend %highlight-box;
}

.dotted-highlight-box {
  @extend %yellow-highlight-box;
  & > p {
    margin-bottom: 2em;
  }
}

.brhg-btn {
  @extend %default-button;
}
