@use "../globals" as g;

// Margin between banner and intro section is set in _torso

%fp-intro-spacing {
  margin-top: -20px;
  @include g.mediaQ(g.$front-page-intro-grid-bp-large) {
    margin-top: 50px;
  }
}

%fp-friends-spacing {
  margin-top: 200px;
}

%fp-headlines-spacing {
  margin-top: 200px;
}

%fp-slider-spacing {
  margin-top: 200px;
}

%fp-section-slider-spacing {
  margin-top: 200px;
}

%fp-recent-spacing {
  margin-top: 100px;
}

%fp-recent__section {
  margin-top: 50px;
}

%fp-tag-cloud-spacing {
  margin-top: 200px;
  margin-bottom: 50px;
}
