@use "../globals" as g;

%front-page-friends-lines {
  content: "";
  display: block;
  border-bottom: g.$pale-rule-border;
}

.fp-friends {
  margin-top: g.$fp-friends-spacing;

  &::before {
    @extend %front-page-friends-lines;
    position: relative;
    top: 20px;
    z-index: -5;
  }

  &::after {
    @extend %front-page-friends-lines;
  }

  &__header {
    text-align: center;
  }

  &__title {
    font-family: g.$highlight-font;
    font-size: 1.5rem;
    background-color: g.$lightest-bg;
    display: inline-block;
    padding: 0 50px;
  }

  &__page-link {
    @include g.defaultLink(true, true, true);
  }

  // Extra wrapper for friends-logo-set shortcode. Not used on front page.
  &__items-wide {
    display: grid;
    justify-content: center;

    & .fp-friends__items-wrap {
      width: 98vw;
    }
  }

  &__items-wrap {
    @include g.flexParent(false, wrap, center, center, 30px);
    align-content: space-evenly;
    margin: 50px 0;
  }

  &__item-img {
    max-width: 150px;
    max-height: 86px;

    @include g.mediaQ(g.$front-page-intro-grid-bp-small) {
      max-width: 200px;
      max-height: 115px;
    }
  }
}
