@use "../globals" as g;

%title-wrap {
  @include g.mediaQ(g.$front-page-recent-bp-small) {
    display: flex;
    justify-content: space-between;
  }
}

%slider-scrolls {
  content: "";
  width: 100%; // Full width of parent
  position: absolute;
  right: 100%; // Align right edge with left edge of parent to mitigate for parent padding
  transform: translate(100%); // Centre on parent
  display: none;
}

@mixin sliderFrameScrolls($bg-img, $margin, $height, $top-bottom) {
  @extend %slider-scrolls;
  background: {
    image: url($bg-img), none;
    position: center;
  }
  margin: $margin;
  height: $height;
  #{$top-bottom}: 100%;
}

// Begin

.fp-recent {
  margin-top: g.$fp-recent-spacing;

  &__title-wrap {
    @extend %title-wrap;

    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: g.$primary-rule-border;
  }

  &__title-wrap--slider {
    @extend %title-wrap;

    z-index: 100;
    position: relative;
    margin-bottom: 0;
  }

  &__title {
    @include g.recentRelatedTitle;
  }

  &__more {
    @include g.defaultLink(true, false, true);

    display: block;
    font-weight: g.$bold-font;
    align-self: center;
  }

  &__section {
    margin-top: g.$fp-recent__section;
  }

  &__items-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    @include g.mediaQ(g.$front-page-recent-bp-small) {
      grid-template-columns: 1fr 1fr;
    }

    @include g.mediaQ(g.$front-page-recent-bp-large) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  &__item-thumb {
    display: flex; // To stretch missing thumb
    width: 100%;
    aspect-ratio: 0.70710678118654752440084436210485;
    border: g.$pale-image-border;
    overflow: hidden;
  }

  &__item-missing-thumb {
    flex: 1;
    background-color: g.$missing-thumb-bg;
  }

  &__item-img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &__item-title {
    font-size: clamp(14px, 4.5vw, 22px);
    font-weight: g.$bold-font;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;

    @include g.mediaQ(g.$front-page-recent-bp-small) {
      font-size: clamp(14px, 2.5vw, 24px);
    }

    @include g.mediaQ(g.$front-page-recent-bp-large) {
      font-size: clamp(12px, 1.2vw, 20px);
    }
  }

  &__item-link {
    @include g.defaultLink(true, false, true);
  }
}

///// Slider //////

//also see ../vendor/tiny-slider.scss

$slider-scroll-bottom-height: 33px;

.fp-slider {
  margin-top: g.$fp-section-slider-spacing;

  &__outer {
    background: {
      image: url(images/slider-frame-middle.svg);
      size: 100% 100%;
    }
    margin-bottom: $slider-scroll-bottom-height;
    padding: 40px 20px;
    position: relative;

    @include g.mediaQ(600px) {
      padding: 40px 40px 40px 35px;
    }

    @include g.mediaQ(800px) {
      padding: 50px 40px 30px 35px;
    }

    @include g.mediaQ(900px) {
      padding: 50px 60px 30px 50px;
    }

    &::before {
      @include sliderFrameScrolls(
        "images/slider-frame-top.svg",
        0 auto -1px,
        35px,
        bottom
      );
    }

    &::after {
      @include sliderFrameScrolls(
        "images/slider-frame-bottom.svg",
        -1px auto 0,
        $slider-scroll-bottom-height,
        top
      );
    }

    @include g.mediaQ(g.$front-page-recent-bp-small) {
      &::before,
      &::after {
        display: block;
      }
    }
  }

  &__item {
    padding-bottom: 1px; // Accommodate hover border
  }

  &__item .thumb-only-listing {
    border-color: g.$image-border-dark;

    &:hover {
      border-color: g.$image-border;
    }
  }

  & .tns-nav {
    text-align: center;
    margin: 15px 0 5px;
    & [aria-controls] {
      width: 15px;
      height: 15px;
      padding: 0;
      margin: 0 5px;
      border-radius: 50%;
      background: g.$midLight-bg;
      border: 0;
    }
    & .tns-nav-active {
      background: g.$mid-bg;
    }
  }
}
