@use "../globals" as g;

.fp-tag-cloud {
  margin-top: g.$fp-tag-cloud-spacing-top;
  margin-bottom: g.$fp-tag-cloud-spacing-bottom;

  &__wrap {
    text-align: justify;
    max-width: 1600px;
    margin: 0 auto;

    & a {
      @include g.defaultLink(true, false, true);
    }
  }
}
