@use "../globals" as g;

.arch-item {
  margin: 0 auto 100px;
}

.arch-item-header {
  margin-bottom: 25px;

  &__header {
    text-align: center;
    margin-bottom: 20px;

    @include g.mediaQ(g.$archive-page-bp-small) {
      text-align: left;
    }
  }

  &__title {
    margin: 0 0 10px;
    font-size: clamp(22px, 3vw, 32px);
    line-height: 1.3;
    font-weight: g.$bold-font;
  }

  &__title-link {
    @include g.defaultLink(true, false, true);
  }

  &__sub-title {
    margin: 0 0 10px;
    font-size: clamp(18px, 2vw, 24px);
    line-height: 1.3;
    font-weight: g.$bold-font;
  }

  &__after-title a {
    @include g.defaultLink(true, false, true);
  }
}

.arch-item-content {
  @include g.flexParent(false, wrap, center, false, 4%);
  @include g.mediaQ(g.$archive-page-bp-small) {
    justify-content: space-between;
  }

  &__img-wrap {
    border: g.$pale-image-border;
    @include g.a4Image;

    &--single {
      margin-bottom: 2em;
      @include g.mediaQ(g.$archive-page-bp-small) {
        width: 20%;
        margin-bottom: 0;
      }
    }
  }

  &__img {
    @extend %responsive-img;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;

    @include g.imageHover;
  }

  &__excerpt {
    width: 100%;

    @include g.mediaQ(g.$archive-page-bp-small) {
      width: 76%;
      position: relative;
      top: -6px;
    }
  }

  &--no-thumb &__excerpt {
    width: 100%;
  }

  &--text-thumb &__img-wrap {
    @include g.flexParent(false, false, false, center, false);
    background-color: g.$missing-thumb-bg;
    border: g.$pale-image-border;
    padding: 2em;
    font-size: g.$small-text;
    text-align: center;
  }

  &__more-wrap {
    margin-top: 10px;
    text-align: right;
    width: 100%;

    &--gallery {
      grid-column: span 2;

      @include g.mediaQ(g.$archive-page-bp-x-small) {
        grid-column: span 4;
      }
    }
  }

  &__more-btn {
    @extend %default-button;
  }
}

.arch-item-footer {
  margin-top: 25px;
  border-top: g.$pale-rule-border;
  border-bottom: g.$pale-rule-border;
  padding: 25px 0;
}

.arch-item-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: g.$default-gap;
  @include g.mediaQ(g.$archive-page-bp-x-small) {
    grid-template-columns: repeat(4, 1fr);
  }
}
