@use "../globals" as g;

.entry-content {
  margin-bottom: 100px;

  @include g.defaultTextItems;

  & :where(a:not(.brhg-btn)) {
    @include g.defaultLink;
  }

  @include g.defaultHeadings;

  & :where(img:not(.fp-friends__item-img, .social-share__icon)) {
    @extend %responsive-img;
    border: g.$pale-image-border;
    margin: 2em auto 2em;
  }

  & :where(p:first-child img) {
    margin-top: 0;
  }

  & :where(figure img) {
    margin-bottom: 0;
    margin-top: 0;
  }

  & img.no-border {
    border: none;
  }

  & :where(figure) {
    margin: 0 auto 2em;
    display: table;
  }

  & > figure:not(:first-child) {
    margin-top: 2em;
  }

  & figcaption {
    @extend %gallery-caption;
  }

  & .leaflet-container {
    margin: 2em 0;
  }

  // detail-summary for publication reviews
  & summary {
    @include g.defaultYSpace;
    cursor: pointer;
  }

  & summary::after {
    content: "\2002\005B\2002\2026\2002\005D\2002";
    color: g.$primary;
  }

  & details[open] summary::after {
    display: none;
  }

  & :where(table:not(.brhg-trolley)) {
    font-size: g.$small-text;
    margin: 1em 0 2em;
    width: 100%;

    :where(& td, & th) {
      padding: 0.5em;
    }

    :where(& tr) {
      border-bottom: 3px solid g.$border-rule;
    }
  }

  .wp-audio-shortcode {
    margin-bottom: 1em;
  }
}
