@use "../globals" as g;

.entry-content {
  margin-bottom: 100px;

  @include g.defaultTextItems;

  & a:where(:not(.brhg-btn):not(h1)) {
    @include g.defaultLink;
  }

  @include g.defaultHeadings;

  & :where(img:not(.fp-friends__item-img)) {
    @extend %responsive-img;
    border: g.$pale-image-border;
    margin: 2em auto 2em;
  }

  & :where(p:first-child img) {
    margin-top: 0;
  }

  & img:where(figure img) {
    margin-bottom: 0;
    margin-top: 0;
  }

  & img.no-border {
    border: none;
  }

  & :where(figure) {
    margin: 0 auto 3em;
  }

  & figure:not(.gallery-item, :first-child) {
    margin-top: 3em;
  }

  & figcaption {
    @extend %gallery-caption;
  }

  & .leaflet-container {
    margin: 2em 0;
  }

  // detail-summary for publication reviews
  & summary {
    @include g.defaultYSpace;
    cursor: pointer;
  }

  & summary::after {
    content: "\2002\005B\2002\2026\2002\005D\2002";
    color: g.$primary;
  }

  & details[open] summary::after {
    display: none;
  }
}
