@use "../globals/" as g;

// Subject Index and Rad His Index

.archive-content {
  &__desc-term-link {
    @include g.defaultLink(true, false, true);
    font-weight: g.$bold-font;
  }

  &__desc-def {
    @include g.defaultXSpace;
    @include g.defaultYSpace;
  }
}

// Tag index

.tag-index {
  max-width: g.$wide-content-width;
  margin: 0 auto;
  text-align: justify;

  &__link {
    @include g.defaultLink(true, false, true);
  }
}
