@use "../globals/" as g;

.floating-trolley {
  background: g.$highlight-bg;
  position: relative;
  color: g.$light-text;
  font-weight: g.$bold-font;
  text-align: center;
  z-index: -11; // Must stay below main menu dropdown

  & .trolley-items {
    background-color: g.$primary;
    color: g.$highlight-text;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    font-size: g.$small-text;
    margin-left: 3px;
  }

  & a {
    color: g.$primary;
    padding: 3px 0 3px 38px;
    display: inline-block;
    background: {
      image: url(images/trolley.svg);
      size: auto 75%;
      position: 3px 4px;
    }
    transition: color 250ms ease-in;
    &:hover {
      color: g.$light-text;
    }
  }
}

.shopping_cart {
  @include g.normalList;

  & + p > img {
    margin: 1.5em 0 0 0;
    border: none;
  }
}

.wspsc_cart {
  &_header_image {
    margin: 25px auto;
    border: none;
    width: 100px;
    height: auto;
  }

  &_item_row {
    font-weight: g.$bold-font;
    text-align: center;
  }

  &_item_row th {
    padding-bottom: 10px;
  }

  &_item_name_th {
    text-align: left;
  }

  &_item_qty {
    @extend %default-input;
    width: 7ch;
  }

  &_item_thumb td {
    vertical-align: top;
    padding-bottom: 1em;
  }
}

.wpsc_cart {
  &_title {
    text-align: center;
  }

  &_total td {
    padding-bottom: 1em;
  }
}

.wp_cart {
  &_item_info {
    display: flex;
    gap: g.$default-gap;
  }

  &_item_thumbnail {
    display: none;

    @include g.mediaQ(500px) {
      display: initial;
    }

    & img {
      margin: 0;
    }
  }

  &_checkout_button {
    @include g.imageHover;
  }
}

.wpsc_checkout {
  &_form_standard {
    margin-top: 2em;
  }

  &_form {
    font-weight: g.$bold-font;
  }
}

.wp-shopping-cart-tnc-container {
  @extend %default-checkbox;

  & label {
    display: flex;
  }
}

.empty-trolley-wrap {
  border: g.$primary-rule-border;
  background: white;
  text-align: center;
  font-weight: g.$bold-font;
  padding: 50px;
  margin: 50px auto;
}

.wp-shopping-cart-tnc-error {
  color: g.$accent;
  font-style: italic;
  text-decoration: underline g.$accent dotted 5px;
  text-underline-offset: 10px;
}
