@use "../globals/" as g;

.single-item {
  &__wrap {
    width: 100%;
    margin: calc(g.$ph-margin-bottom / 4 * -3) auto 0;
    overflow: hidden;

    @include g.mediaQ(g.$single-item-bp-medium) {
      width: 780px;
    }

    @include g.mediaQ(g.$single-item-bp-large) {
      display: grid;
      grid-template-areas: "details content";
      grid-template-columns: 250px 750px;
      gap: 80px;
      width: 1080px;
    }

    @include g.mediaQ(g.$single-item-bp-x-large) {
      grid-template-columns: 270px 780px;
      gap: 60px;
      width: 1110px;
      transform: translateX(-165px);
    }
  }

  &__details {
    max-width: g.$main-text-width;
    grid-area: details;
    width: 100%;
    margin: 0 auto 50px;

    @include g.mediaQ(g.$single-item-bp-medium) {
      display: block;
      width: 270px;
      margin: 0;
    }
  }

  &__main {
    grid-area: content;
    margin-bottom: 100px;
    max-width: 100%;
  }
}
