@use "../globals/" as g;

.pubs-buy-where {
  @extend %highlight-box;
  text-align: center;
  font-weight: g.$bold-font;
  margin-bottom: 25px;
  padding: 2em;

  & a {
    @include g.defaultLink(true, false, true);
  }
}

.pub-covers {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px 0;

  & img {
    margin: 0;
  }
}

.pub-reviews {
  &__wrap {
    margin-top: 100px;
  }

  &__title {
    padding: 5px;
    margin-bottom: 30px;
    color: g.$light-text;
    text-align: center;
    font-weight: g.$bold-font;
    background-color: g.$primary;
  }

  &__item {
    margin: 50px 0;
    padding-bottom: 20px;
    border-bottom: g.$pale-rule-border;
  }

  &__source,
  &__link-wrap {
    font-size: g.$small-text;
  }
}

.buy {
  text-align: center;
  @include g.highlightBox;

  // highlightBox adds &__title

  &__post-warning {
    font-size: g.$small-text;
  }

  & .wspsc_add_cart_submit {
    @extend %default-button;
  }

  & .paypal-img {
    border: none;
    margin-top: 1em;
    margin-bottom: 0;
  }
}
