@use "../globals/" as g;

.single-item {
  &__wrap {
    width: 100%;
    margin: 0 auto 0;
    overflow: hidden;

    @include g.mediaQ(g.$single-item-bp-medium) {
      width: 780px;
    }

    @include g.mediaQ(g.$single-item-bp-large) {
      display: grid;
      grid-template-areas: "details content";
      grid-template-columns: 250px 750px;
      gap: 80px;
      width: 1080px;
    }

    @include g.mediaQ(g.$single-item-bp-x-large) {
      grid-template-columns: 270px 780px;
      gap: 60px;
      width: 1110px;
      transform: translateX(-165px);
    }
  }

  &__details {
    max-width: calc(g.$main-text-width - (g.$torso-padding * 2));
    grid-area: details;
    width: 100%;
    margin: 0 0 50px;
    border-bottom: g.$pale-rule-border;
    padding-bottom: 1em;

    @include g.mediaQ(g.$single-item-bp-medium) {
      width: g.$single-item-bp-medium;
      max-width: g.$single-item-bp-medium;
    }

    @include g.mediaQ(g.$single-item-bp-large) {
      display: block;
      width: 270px;
      margin: 0;
      border-bottom: none;
    }
  }

  &__main {
    grid-area: content;
    margin-bottom: 100px;
    max-width: 100%;
  }
}
