@use "../globals" as g;

.footer-oxo {
  @extend %oxo; // In placeholders
}

.site-footer {
  background-color: g.$primary;
  padding-bottom: 2em;
  font-family: g.$highlight-font;
}

%cherubs {
  display: none;
  position: absolute;
  background-size: auto 100%;
  height: 279%;
  top: -65px;
  z-index: -1;
}

%footer-menu-row {
  @include g.flexParent(false, wrap, false, false, false);
}

.footer-menu {
  &__wrapper {
    @include g.flexParent(false, false, center, false, false);

    @include g.mediaQ(g.$footer-menu-break) {
      padding-top: 100px;
    }
  }

  &__nav {
    background: {
      image: url(images/cherub-middle.svg);
      size: 100% 100%;
    }
    padding: 0.5em 10px;
    font-size: 1.2rem;
    position: relative;
    max-width: 950px;
    width: 100%;
    isolation: isolate;
    z-index: 1;

    @include g.mediaQ(g.$footer-menu-break) {
      width: 33%;
      padding: 0.5em 0;

      &::before,
      &::after {
        display: block;
      }
    }

    &::before {
      @extend %cherubs;

      content: "";
      background-image: url(images/cherub-left.svg);
      aspect-ratio: 197/252;
      right: 99.25%;
      bottom: -100%;
    }

    &::after {
      @extend %cherubs;

      content: "";
      background-image: url(images/cherub-right.svg);
      aspect-ratio: 208/252;
      left: 99.25%;
      bottom: -100%;
    }

    & a {
      @include g.defaultLink(true, false, true);
    }
  }

  &__row1 {
    @extend %footer-menu-row;

    justify-content: center;
    gap: 0 1em;

    @include g.mediaQ(g.$footer-menu-break) {
      justify-content: space-evenly;
    }
  }

  &__row2 {
    @extend %footer-menu-row;

    justify-content: center;
  }
}

.footer-copyright {
  color: g.$light-text;
  text-align: center;
  margin-top: 1em;
  font-size: 1.2rem;

  @include g.mediaQ(g.$footer-menu-break) {
    margin-top: 129px;
  }
}
