@use "../globals" as g;

html {
  font-size: 14px;

  @include g.mediaQ(g.$html-pg-small) {
    font-size: 16px;
  }
}

// Basic text
.brhg-body {
  font-family: g.$main-font;
  line-height: 1.6;
  color: g.$dark-text;
  font-size: 1.125rem;
}

// Basic layout

%torso-spacing {
  margin: 80px auto;
}

.torso {
  min-height: calc(100vh - 500px);
  padding: 0 15px;
  max-width: g.$max-width-torso;
  @extend %torso-spacing;
}

.home .torso {
  margin: 0 auto;
}

.entry-content,
.archive-content {
  width: 100%;

  @include g.mediaQ(g.$main-text-width) {
    max-width: g.$main-text-width;
  }
}

.search .entry-content,
.page .entry-content,
.archive-content,
.single-event-series .entry-content,
.single-venues .entry-content,
.single-project .entry-content {
  margin: 0 auto;
}

// Legacy
strong,
b {
  font-weight: 800;
}

em,
i {
  font-style: italic;
}

small {
  font-size: g.$small-text;
}

// For TinyMCE alignment buttons
.aligncenter {
  text-align: center;
}

.alignleft {
  text-align: initial;
}

.alignright {
  text-align: right;
}

// Screen Readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Boxes

.highlight-box {
  @include g.highlightBox;
}

.dotted-highlight-box {
  @extend %yellow-highlight-box;
  & > p {
    margin-bottom: 2em;
  }
}

// BUttons

.brhg-btn {
  @extend %default-button;
}
