@use "../globals" as g;
@use "placeholders";

.brhg-body {
  font-family: g.$main-font;
  line-height: 1.6;
  color: g.$dark-text;
  font-size: 18px;
}

.torso {
  min-height: calc(100vh - 500px);
  padding: 0 10px;
  max-width: g.$max-width-torso;
  @extend %torso-spacing;
}

.home .torso {
  margin: 0 auto;
}

.entry-content,
.archive-content {
  width: 100%;

  @include g.mediaQ(g.$main-text-width) {
    width: g.$main-text-width;
  }
}

.search .entry-content,
.page .entry-content,
.archive-content {
  margin: 0 auto;
}
