@use "../globals" as g;

%oxo {
  background: {
    image: url(images/header-oxo.svg);
    color: g.$red;
    repeat: repeat-x;
  }
  height: 17px;
  position: relative;

  &::before {
    content: "";
    background-image: url(images/wavy-line.svg);
    width: 100%;
    position: absolute;
    height: 4px;
    top: -4px;
  }
}

%torso-spacing {
  margin: 80px 0;
}
