@use "../globals/" as g;

.comments {
  &__wrap {
    margin-top: 50px;
  }

  &__pale-rule {
    @extend %pale-rule;
  }

  &__title {
    font-weight: 800;
    margin-bottom: 1em;
  }

  // Comment form

  &__form-wrap {
    font-weight: normal;
    margin-top: 2em;
  }

  &__form {
    @extend %default-checkbox;

    & label {
      display: block;
      width: 100%;
      margin-bottom: 0.75em;
    }
  }

  &__input {
    margin-bottom: 25px;
  }

  &__input input:not(input[type="checkbox"]) {
    @extend %default-input;
    width: 100%;
  }

  &__textarea {
    @extend %default-form-field;
    width: 100%;
  }

  &__input--cookies-consent {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  &__submit-btn {
    @extend %default-button;
  }

  &__note-before,
  &__note-after {
    margin-bottom: 1em;
    font-size: g.$small-text;

    & a {
      @include g.defaultLink;
    }
  }

  &__note-after {
    margin-bottom: 2em;

    & code {
      font-family: monospace;
    }
  }

  // Comments list
  $comment-bottom-margin: 3em;

  &__list {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 100px;

    @include g.mediaQ(g.$comments-bp-x-small) {
      list-style-position: outside;
      padding-left: 2em;
    }

    @include g.defaultTextItems(true, false, false, false);

    & .children {
      padding-left: 1em;
      margin-top: $comment-bottom-margin;
      border-left: g.$pale-rule-border;

      @include g.mediaQ(g.$comments-bp-x-small) {
        padding-left: 2em;
      }
    }
  }

  &__comment {
    font-weight: 800;
    margin-bottom: $comment-bottom-margin;

    &:last-child {
      margin-bottom: 0;
    }

    &.depth-1:not(:last-child) {
      border-bottom: g.$pale-rule-border;
      padding-bottom: 1em;
    }

    & a:not(.comments__reply-btn a) {
      @include g.defaultLink;
    }

    & p:last-child {
      margin-bottom: 0;
    }
  }

  &__body {
    font-size: g.$small-text;
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;

    & img {
      display: none;

      @include g.mediaQ(g.$comments-bp-x-small) {
        display: block;
      }
    }
  }

  &__author {
    & a {
      font-size: smaller;
      vertical-align: super;
    }
  }

  &__date {
    color: g.$mid-text;
  }

  &__text {
    font-weight: normal;
  }

  &__reply-btn {
    margin-top: 1em;

    & a {
      @extend %default-button;
    }
  }
}
