@use "../globals/" as g;

.contact-details {
  text-align: center;
  margin: 0 auto 50px;

  &--frame {
    @include g.mediaQ(600px) {
      font-family: g.$highlight-font;
      background: {
        image: url("../images/contact.png");
        size: 100% auto;
      }
      font-size: 21px;
      height: 486px;
      max-width: 100%;
      padding-top: 140px;
      width: 566px;
    }
  }
}
