@use "../globals/" as g;

.wpcf7-form {
  &__note-before {
    @extend %note-before-form;
  }

  &__p--robot {
    font-style: g.$form-label-font-style;
  }

  &__label {
    @extend %form-labels;
  }

  & .wpcf7-form-control-wrap {
    display: block;
    padding-top: 0.5em;
  }

  & input:not([type="submit"]) {
    @extend %default-input;
    width: 100%;
  }

  & textarea {
    @extend %default-form-field;
    width: 100%;
  }

  & .wpcf7-submit {
    @extend %default-button;
    margin-top: 1em;
  }

  & .wpcf7-captchac {
    margin: 0.5em 0;
    width: 125px;
  }

  & .wpcf7-not-valid-tip {
    background: g.$accent;
    color: g.$light-text;
    padding: 0.5em;
    font-weight: g.$bold-font;

    &::before,
    &::after {
      content: " *** ";
    }
  }
}

// Spinner
.wpcf7-spinner {
  visibility: hidden;
}

form.submitting .wpcf7-spinner {
  visibility: visible;
}

.wpcf7.has-spinner {
  & .wpcf7-spinner {
    visibility: visible;
    margin-left: 10px;
    top: 5px;

    &::before {
      border: {
        color: g.$light-text;
        top: 5px solid g.$accent;
        radius: 50%;
      }
    }
  }
}
