@use "../globals/" as g;

.brhg-donate-btn {
  &__p {
    font-weight: g.$bold-font;
  }

  &__list {
    list-style: none;
    @include g.flexParent(false, wrap, center, false, g.$default-gap);
    padding: 0 !important;
    margin: 0 0 20px 0;
  }

  &__li {
    padding: 0;
  }

  &__link {
    padding: {
      left: g.$default-x-space;
      right: g.$default-x-space;
    }
    display: inline-block;
  }

  &__amount {
    @include g.flexParent(column, wrap, center, center, 20px);
    margin-top: 30px;
  }

  &__label {
    display: block;
    font-weight: g.$bold-font;
    margin-bottom: -6px;
  }

  &__input-wrap {
    @include g.flexParent(false, wrap, false, center, g.$default-gap);
    font-size: 1.2em;
    font-weight: g.$bold-font;
  }

  &__input {
    @extend %default-input;
    text-align: center;
    width: 110px;
    padding: 5px;
    font-weight: g.$bold-font;
    border-width: 3px;
  }

  &__submit {
    @extend %default-button;
    width: 110px;
  }
}
