@use "../globals" as g;

.entry-content {
  margin-bottom: 100px;

  @include g.defaultTextItems;

  & a {
    @include g.defaultLink;
  }

  @include g.defaultHeadings;

  & :where(img) {
    @extend %responsive-img;
    border: 1px solid g.$image-border;
    margin: 0 auto;
    display: block;
  }

  & img:where(:not(figure img)) {
    margin-bottom: 2em;
    margin-top: 2em;
  }

  & figure:not(.gallery-item) {
    margin: 2em auto 2em;
  }

  // For a page that starts with and image and thumb-row galleries
  & > p > img,
  & figure:first-child,
  & .thumb-row img,
  & .thumb-row p &,
  .thumb-row figure {
    margin: 0;
  }

  & figure:not(.gallery-item) figcaption {
    font-size: g.$small-text;
    margin-top: 1em;
  }

  .thumb-row {
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
    gap: 10px;
    margin: 4rem 0;
  }

  // Hack to compensate for missing caption, where there is no baseline to align to
  & .thumb-row a::after {
    content: "\200B"; /* Zero width space */
    display: block;
    line-height: 0;
  }

  & img {
    height: auto;
  }

  & summary {
    @include g.defaultYSpace;
  }

  & summary::after {
    content: "\2002\005B\2002\2026\2002\005D\2002";
    color: g.$red;
  }

  & details[open] summary::after {
    display: none;
  }
}
