@use "../globals/" as g;

.gallery {
  @extend %gallery-and-thumb-row;

  @at-root .entry-content .gallery:first-child {
    margin-top: 0;
  }

  &.no-border img {
    border: none;
  }

  & figcaption {
    @extend %gallery-caption;
  }
}

// Gallery and thumb-row gallery
.thumb-row {
  @extend %gallery-and-thumb-row; // intermediate

  & figcaption {
    @extend %gallery-caption;
  }
}

.thumb-row-height {
  display: flex;
  gap: 10px;
  margin: 3em 0;
  flex-direction: column;
  align-items: center;
  & > * {
    flex: 1 1 auto;
  }

  & img {
    max-width: 450px;
    width: 100%;
    height: auto;

    margin: 0;
    object-fit: cover;
  }

  @include g.mediaQ(g.$main-text-width) {
    flex-direction: row;

    & img {
      height: 175px;
    }
  }
}
