%ph-pre-title-spacing {
  margin-bottom: 40px;
}

%ph-title-spacing {
  margin-bottom: 0.35em;
}

%ph-after-title {
  margin-top: 50px;
}

%ph-current-series-spacing {
  margin-top: 25px;
}

%ph-pale-rule-spacing {
  margin-top: 25px;
  margin-bottom: 100px;
}
