@use "../globals" as g;

.details-block {
  margin-bottom: 50px;

  &--archive {
    margin-bottom: 0;
  }

  &--2up {
    @include g.mediaQ(g.$single-page-bp-small) {
      @include g.flexParent(false, wrap, space-between, false, 0 4%);
    }

    @include g.mediaQ(g.$single-page-bp-large) {
      display: block;
    }

    & .details-block__block {
      @include g.mediaQ(g.$single-page-bp-small) {
        width: 48%;
      }

      @include g.mediaQ(g.$single-page-bp-large) {
        width: 100%;
      }
    }
  }

  &__block {
    margin-bottom: 25px;
  }

  &__heading {
    background: g.$primary;
    color: g.$light-text;
    text-align: center;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__title {
    color: g.$mid-text;
  }

  &__p {
    line-height: 1.2;
    margin-bottom: 0.25em;
  }

  &__key,
  &__value,
  &__comments-link {
    font-size: g.$small-text;
    font-weight: g.$bold-font;
  }

  &__key {
    color: g.$mid-text;
  }

  &__value {
    &--sub-section {
      &::before {
        content: "\003D\003E";
        margin: 0 5px;
      }
    }
  }

  & a {
    @include g.defaultLink(true, false, true);
  }
}
