@use "../globals" as g;
@use "page-header-spacing";

%pre-sub-titles {
  text-align: center;
  font-size: clamp(20px, 3vw, 25px);
  font-weight: 700;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: g.$wide-content-width;
  margin-left: auto;
  margin-right: auto;

  &__title-wrap {
    & a {
      @include g.defaultLink(true, false, true);
    }
  }

  &__pre-title {
    @extend %pre-sub-titles;
    @extend %ph-pre-title-spacing;
  }

  &__title {
    @extend %ph-title-spacing;

    font-size: clamp(28px, 5vw, 45px);
    text-align: center;
  }

  &__sub-title {
    @extend %pre-sub-titles;
  }

  &__after-title {
    @extend %ph-after-title;

    font-size: 1.2rem;
    text-align: center;
  }

  &__archive-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: g.$main-text-width;
    margin: 0 auto;

    @include g.defaultTextItems;
    @include g.defaultHeadings;

    & a {
      @include g.defaultLink;
    }
  }

  &__search-title {
    font-weight: 800;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1em;
  }

  &__searched-for {
    color: g.$mid-text;
  }

  &__pale-rule {
    @extend %ph-pale-rule-spacing;
    @extend %pale-rule;
  }
}

// Filter archive button
.archive-filter {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;

  &:focus-within .archive-filter__dropdown {
    display: block;
  }

  &__btn {
    @extend %default-button;
  }

  &__dropdown {
    @extend %sub-menu-dropdown;

    top: 110%;
    left: 0;
    min-width: 180px;
    list-style: none;

    & a {
      @extend %menu-link;

      padding: 0.5em 0.5em;
    }
  }
}

// Event series that are current and forthcoming
.current-series {
  @extend %ph-current-series-spacing;

  max-width: g.$main-text-width;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &__title {
    font-weight: 800;
  }

  &__link {
    @include g.defaultLink;
  }
}
