@use "../globals" as g;

%link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.archive-p8n {
  &__wrap--top {
    margin: 0 0 75px;
  }

  &__wrap--bottom {
    margin: 75px 0 0;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: g.$wide-content-width;

    &--alpha {
      align-items: center;
    }
  }

  &__nav-title {
    margin-bottom: 0.5em;
    font-size: g.$small-text;
    font-weight: bold;
  }

  &__ul {
    display: flex;
    flex-wrap: wrap;
  }

  &__li {
    border: 1px solid g.$pagination-borders;
    border-right: none;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
    color: g.$red;
    font-weight: 700;
    overflow: hidden;

    $border-radius: 3px;

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border-right: 1px solid g.$pagination-borders;
      border-radius: 0 $border-radius $border-radius 0;
    }

    &--current .no-link {
      color: g.$pagination-current-text;
      background-color: g.$pagination-current-bg;
    }
  }

  &__link {
    @extend %link;

    cursor: pointer;

    &:hover {
      background-color: g.$pagination-hover;
    }
  }
}

.no-link {
  @extend %link;
}
