@use "../globals/" as g;

.related {
  width: 100%;

  @include g.mediaQ(g.$relate-bp-large) {
    @include g.flexParent(false, false, false, false, 30px);
    max-width: g.$max-width-torso;
    margin: 0 auto;
    padding: 15px;
  }

  &__type-wrap {
    width: 100%;
    margin-bottom: 50px;
  }

  &__items-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: g.$default-gap;
    width: 100%;

    @include g.mediaQ(g.$relate-bp-small) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include g.mediaQ(g.$relate-bp-medium) {
      grid-template-columns: repeat(6, 1fr);
    }
    @include g.mediaQ(g.$relate-bp-large) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include g.mediaQ(g.$relate-bp-x-large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__type-title {
    font-family: g.$highlight-font;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: g.$pale-rule-border;
  }

  &__archive-link {
    @include g.defaultLink(true, false, true);
    font-weight: g.$bold-font;
    text-align: right;
    margin-top: 1em;
  }
}
