@use "../globals" as g;

.search-form {
  width: 100%;
  max-width: g.$main-text-width;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  gap: 10px;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__search-fieldset {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;

    @include g.mediaQ(g.$main-text-width) {
      width: 90%;
    }
  }

  &__field-name {
    font-weight: 800;
    display: block;
  }

  &__field-description {
    font-size: g.$small-text;
    display: block;
  }

  &__input {
    @extend %default-input;
    width: 100%;

    @include g.mediaQ(g.$main-text-width) {
      max-width: 400px;
    }
  }

  &__filter {
    display: block;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em 4%;

    @include g.mediaQ(g.$main-text-width) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__filter-fieldset {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    row-gap: 1em;

    & .search-form__label {
      display: contents;
    }
  }

  &__select {
    @extend %default-form-field;
    width: 100%;
    padding: 6px 0;
    overflow: {
      y: scroll;
      x: hidden;
    }
  }

  &__option {
    padding: 0 12px;
    white-space: nowrap;

    &:checked {
      background-color: g.$midLight-bg;
    }

    &:focus {
      background-color: g.$red;
      color: g.$light-text;
    }
  }

  &__btn {
    @extend %default-button;
  }
}
