@use "../globals/" as g;

.event-prog {
  &__prog-sub-title {
    margin-top: 100px;
    padding: 0.5em 0;
    text-align: center;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    $border: top, bottom;
    @each $position in $border {
      border-#{$position}: 1px solid g.$border-rule;
    }
  }
}

.event-list,
.price-list {
  display: grid;
  justify-content: center;
  max-width: 1200px;
  margin-top: 50px;

  &__title {
    margin-bottom: 0;
  }

  &__scroll {
    display: block;
    margin: 0;
  }

  &__table-wrap {
    overflow-y: scroll;
  }

  &__table {
    font-size: g.$small-text;
    margin-bottom: 1em;

    & a {
      text-decoration: none;
    }

    & thead {
      background-color: g.$dark-bg;
      color: g.$light-text;
    }

    & tbody tr:nth-of-type(2n + 1) {
      background-color: g.$light-bg;
    }

    & td {
      border: 1px solid g.$pagination-borders;
    }

    & th {
      font-weight: 800;
      border: 1px solid g.$dark-bg;
      border-right-color: g.$pagination-borders;
    }

    & th:last-child {
      border-right-color: g.$dark-bg;
    }

    & td,
    & th {
      padding: 0.75em 0.5em;
    }
  }
}

.event-list {
  &__table {
    font-weight: 800;
  }

  &__head {
    &--title {
      text-align: center;
    }
  }

  &__cell {
    white-space: nowrap;

    &--title {
      text-align: center;
      white-space: normal;
      text-wrap: balance;
    }
  }
}

.price-list {
  &__cell {
    &--number {
      width: 10ch;
      font-weight: 800;
    }
    &--isbn {
      width: 20ch;
      font-family: monospace;
    }
    &--edition {
      width: 32ch;
    }
    &--pp {
      width: 7ch;
      text-align: center;
    }
    &--pi {
      width: 7ch;
      text-align: center;
    }
    &--format {
      width: 20ch;
    }
    &--rrp {
      width: 10ch;
      font-family: monospace;
      text-align: right;
    }
    &--notes {
      width: 8ch;
      position: relative;
    }
  }

  &__pop-note {
    display: none;
    position: absolute;
    top: -20px;
    right: 100%;
    background-color: g.$light-text;
    padding: 1em;
    border: 3px solid g.$primary;
    width: 200px;
  }

  &__pop-note-btn {
    color: g.$primary;
    cursor: pointer;
    touch-action: manipulation;

    &:hover + .price-list__pop-note {
      display: block;
    }
  }
}

$table-parents: (event-list, price-list);

$tables: (
  cols-3: 780px,
  cols-4: 900px,
  cols-5: 1050px,
  cols-6: g.$wide-content-width,
  cols-7: 1320px,
);

@mixin scrollableTableLoop($pre, $width) {
  #{$pre}__table {
    width: $width;
  }
  #{$pre}__table-wrap {
    width: calc(100vw - 30px);
  }
  @include g.mediaQ($width) {
    #{$pre}__title {
      margin-bottom: 0;
      text-align: center;
    }
    #{$pre}__scroll {
      display: none;
    }
    #{$pre}__table-wrap {
      width: $width;
    }
  }
}

.event-list {
  @each $cols, $width in $tables {
    &--#{$cols} {
      @include scrollableTableLoop("& .event-list", $width);
    }
  }
}

.price-list {
  @include scrollableTableLoop("& .price-list", 1320px);
}
