@use "../globals" as g;

.tag-index {
  @extend %default-text;
  max-width: g.$wide-content-width;
  margin: 0 auto;
  text-align: justify;

  &__link {
    @include g.defaultLink(true, false, true);
  }
}
