@use "../globals/" as g;

.thumb-only-listing {
  display: flex;
  position: relative;
  // With object-fit on the child, flex forces picture to fill container larger than itself
  @include g.a4Image;
  border: g.$pale-image-border;
  // For title sizing
  container-type: inline-size;
  container-name: listing-item-box;

  &:hover {
    border-color: g.$image-border-dark;
  }

  &:hover a {
    opacity: 1;
  }

  &__item-img {
    object-fit: cover;
    height: auto;
    width: 100%;
    object-fit: cover; /* Fill container, maintain aspect-ratio */
  }

  &__item-link {
    @include g.flexParent(column, false, center, center, false);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  &__item-link--missing {
    opacity: 1;
    background-color: g.$missing-thumb-bg;

    & .thumb-only-listing__item-title {
      text-shadow: none;
      color: g.$dark-text;
    }
  }

  &__item-title {
    font-size: 12cqw;
    text-decoration: none;
    color: g.$light-text;
    padding: 0 1rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3),
      -1px 1px 10px rgba(0, 0, 0, 0.3), 1px -1px 10px rgba(0, 0, 0, 0.3),
      -1px -1px 10px rgba(0, 0, 0, 0.3);
  }
}

// Publications and event series archive pages

.thumb-only-list {
  // /@include g.defaultTextItems;

  &__header {
    max-width: 780px;
    margin: 0 auto 2em;
    text-align: center;
    @include g.defaultHeadings;
  }
}

$gap: 10px;

// Calculate the width of a thumb only list item
@function thumbListItemWidth($cols) {
  @return calc((100% - ($gap * ($cols - 1))) / $cols);
}

// with: cols for the media queries
$window-widths: (
  g.$toa-bp-small: 4,
  g.$toa-bp-medium: 5,
  g.$toa-bp-large: 6,
);

.thumb-only-listing__wrapper {
  @include g.flexParent(false, wrap, center, false, $gap);
  width: 100%;
  margin-bottom: 100px;

  & .thumb-only-listing {
    flex-basis: thumbListItemWidth(2);
  }

  // Loop through $window-widths to create the media queries
  @each $width, $cols in $window-widths {
    @include g.mediaQ($width) {
      & .thumb-only-listing {
        flex-basis: thumbListItemWidth($cols);
      }
    }
  }
}
