@use "../globals/" as g;

.thumb-only-listing {
  position: relative;
  /* With object-fit on the child, flex forces picture to fill container larger than itself */
  display: flex;
  aspect-ratio: 1 / 1.414135;
  overflow: hidden;
  border: 1px solid g.$image-border;
  // For title sizing
  container-type: inline-size;
  container-name: listing-item-box;

  &:hover {
    border-color: g.$image-border-dark;
  }

  &:hover a {
    opacity: 1;
  }

  &__item-img {
    object-fit: cover;
    height: auto;
    width: 100%;
    object-fit: cover; /* Fill container, maintain aspect-ratio */
  }

  &__item-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__item-link--missing {
    opacity: 1;
    background-color: g.$missing-thumb-bg;

    & .thumb-only-listing__item-title {
      text-shadow: none;
      color: g.$dark-text;
    }
  }

  &__item-title {
    font-size: 12cqw;
    text-decoration: none;
    color: g.$light-text;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3),
      -1px 1px 10px rgba(0, 0, 0, 0.3), 1px -1px 10px rgba(0, 0, 0, 0.3),
      -1px -1px 10px rgba(0, 0, 0, 0.3);
  }
}

// Publications and event series archive pages

.thumb-only-list {
  // /@include g.defaultTextItems;

  &__header {
    max-width: 780px;
    margin-bottom: 2em;
    @include g.defaultHeadings;
  }
}

.thumb-only-listing__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  margin-bottom: 100px;

  @include g.mediaQ(g.$toa-bp-small) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include g.mediaQ(g.$toa-bp-medium) {
    grid-template-columns: repeat(5, 1fr);
  }

  @include g.mediaQ(g.$toa-bp-large) {
    grid-template-columns: repeat(6, 1fr);
  }
}
