// html
$html-pg-small: 600px;

// Banner and main menu
$title-break: 965px;
$main-menu-contents-break: 1070px;
$hamburger-menu-break: 675px;

// Footer menu
$footer-menu-break: 780px;

// Front page - intro
$front-page-intro-grid-bp-x-small: 450px;
$front-page-intro-grid-bp-small: 650px;
$front-page-intro-grid-bp-medium: 800px;
$front-page-intro-grid-bp-large: 1250px;

// Headlines

$front-page-headlines-bp-medium: 850px;
$front-page-headlines-bp-large: 1500px;

// Front page - slider

$front-page-slider-bp-small: 600px;
$front-page-slider-bp-medium: 800px;
$front-page-slider-bp-large: 900px;

// Front page - recent
$front-page-recent-bp-x-small: 400px;
$front-page-recent-bp-small: 650px;
$front-page-recent-bp-large: 1000px;

// Archive page
$archive-page-bp-small: 600px;
$archive-page-bp-x-small: 450px;

// Thumb only archive
$toa-bp-small: 600px;
$toa-bp-medium: 1000px;
$toa-bp-large: 1200px;

// Single pages
$single-item-bp-medium: 780px;
$single-item-bp-large: 1100px;
$single-item-bp-x-large: 1470px;
$single-page-details-bp-large: 1100px;
$single-page-details-bp-small: 550px;
$relate-bp-small: 500px;
$relate-bp-medium: 800px;
$relate-bp-large: 1000px;
$relate-bp-x-large: 1200px;

// Single event

$single-event-details-bp: 650px;

// Comments
$comments-bp-x-small: 450px;
