// Banner and main menu
$title-break: 965px;
$main-menu-contents-break: 1070px;
$hamburger-menu-break: 675px;

// Footer menu
$footer-menu-break: 780px;

// Front page - intro
$front-page-intro-grid-bp-x-small: 450px;
$front-page-intro-grid-bp-small: 650px;
$front-page-intro-grid-bp-medium: 800px;
$front-page-intro-grid-bp-large: 1250px;

// Front page - recent
$front-page-recent-bp-x-small: 400px;
$front-page-recent-bp-small: 650px;
$front-page-recent-bp-large: 1000px;
