@use "layout" as l;
@use "mixins" as m;

%gallery-and-thumb-row {
  @include m.flexParent(
    false,
    wrap,
    space-evenly,
    first baseline,
    l.$default-gap
  );
  overflow: hidden;
  margin: 3em 0 3em;

  & > * {
    margin: 0;
    flex: 1 1 calc((100% - 2 * l.$default-gap) / 2);

    @include m.mediaQ(600px) {
      flex: 1 1 calc((100% - 3 * l.$default-gap) / 4);
    }
  }

  & img {
    width: 100%;
    margin: 0;
  }
}
