$main-text-width: 780px;
$wide-content-width: 1200px;
$max-width-torso: 1600px;

// Default margin under page header
$ph-margin-bottom: 100px;

// Default spacing for paragraphs, blockquotes etc.
$default-y-space: 1em;
$default-x-space: 2em;
