@use "colours" as c;
@use "fonts" as f;
@use "placeholders";
@use "layout" as l;

@mixin mediaQ($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin defaultYSpace {
  margin-bottom: l.$default-y-space;
}

@mixin defaultXSpace {
  margin-left: l.$default-x-space;
  margin-right: l.$default-x-space;
}

@mixin defaultLink($colour: true, $decor: true, $hover: true) {
  @if $colour {
    @extend %default-link-colour;
  }
  @if $decor {
    @extend %default-link-decor;
  }
  @if $hover {
    @extend %default-link-hover;
  }
}

@mixin defaultTextItems($p: true, $ul: true, $ol: true, $blockquote: true) {
  @if $p {
    & :where(p) {
      @include defaultYSpace;
    }
  }

  @if $ul {
    & > :where(ul) {
      @include defaultYSpace;
      & :where(li) {
        @extend %default-ul-li;
        @include defaultXSpace;
      }
    }
  }

  @if $ol {
    // Changed from @if ol to @if $ol
    & :where(ol) {
      @include defaultXSpace;
      list-style-type: decimal;
      list-style-position: outside;
      & li {
        margin-left: 1.1em;
      }
    }
  }

  @if $blockquote {
    & :where(blockquote) {
      @include defaultYSpace;
      @include defaultXSpace;
      & footer {
        text-align: right;
      }
    }
  }
}

@mixin normalList {
  & ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}

@mixin defaultHeadings {
  & h2 {
    @extend %default-h2;
  }

  & h3 {
    @extend %default-h3;
  }

  & h4 {
    @extend %default-h4;
  }

  & h2:first-child,
  & h3:first-child,
  & h4:first-child {
    margin-top: 0;
  }
}
@mixin a4Image() {
  aspect-ratio: 1 / 1.4142135623730950488016887242097;
  overflow: hidden;
}

@mixin recentRelatedTitle() {
  font-family: f.$highlight-font;
  font-size: clamp(22px, 3vw, 30px);
}
