@forward "placeholders";

@use "placeholders" as p;

@mixin mediaQ($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin defaultYSpace {
  margin-bottom: p.$default-y-space;
}

@mixin defaultXSpace {
  margin-left: p.$default-x-space;
  margin-right: p.$default-x-space;
}

@mixin defaultLink($colour: true, $decor: true, $hover: true) {
  @extend %default-link-core;

  @if $colour {
    @extend %default-link-colour;
  }
  @if $decor {
    @extend %default-link-decor;
  }
  @if $hover {
    @extend %default-link-hover;
  }
}

@mixin defaultTextItems($p: true, $ul: true, $ol: true, $blockquote: true) {
  @if $p {
    & :where(p) {
      @include defaultYSpace;
    }
  }

  @if $ul {
    @extend %default-ul-list;
  }

  @if $ol {
    // Changed from @if ol to @if $ol
    @extend %default-ol-list;
  }

  @if $blockquote {
    & :where(blockquote) {
      @include defaultYSpace;
      @include defaultXSpace;
      & footer {
        text-align: right;
      }
    }
  }
}

@mixin normalList {
  & ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}

@mixin defaultHeadings {
  :where(h1, h2, h3, h4) {
    @extend %default-headings;
  }

  & :where(h2) {
    @extend %default-h2;
  }

  & :where(h3) {
    @extend %default-h3;
  }

  & :where(h4) {
    @extend %default-h4;
  }

  & :where(h2:first-child),
  & :where(h3:first-child),
  & :where(h4:first-child) {
    margin-top: 0;
  }

  & :where(h1, h2, h3, h4, h5, h6) a {
    text-decoration: none;
  }
}

@mixin a4Image() {
  aspect-ratio: 1 / 1.4142135623730950488016887242097;
  overflow: hidden;
}

@mixin recentRelatedTitle() {
  font-family: p.$highlight-font;
  font-size: clamp(22px, 3vw, 30px);
}

@mixin highlightBox() {
  @extend %highlight-box;

  &__title {
    @extend %highlight-box-title;
  }
}

@mixin flexParent(
  $direction: false,
  $wrap: false,
  $justify: false,
  $align: false,
  $gap: false
) {
  display: flex;

  @if $direction {
    flex-direction: $direction;
  }

  @if $wrap {
    flex-wrap: $wrap;
  }

  @if $justify {
    justify-content: $justify;
  }

  @if $align {
    align-items: $align;
  }

  @if $gap {
    gap: $gap;
  }
}

@mixin imageHover() {
  transition: transform 250ms ease-in;

  &:hover {
    transform: scale(1.05);
  }
}
