@use "colours" as c;

%default-text {
  font-family: notosans, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: c.$dark-text;
}

%default-v-space {
  margin-bottom: 1em;
}

%default-x-space {
  margin-left: 2em;
  margin-right: 2em;
}

%default-ul-li {
  background-image: url("images/q.svg");
  background-size: 0.65em auto;
  background-repeat: no-repeat;
  background-position: 0 6px;
  padding-left: 1.2em;
}

%default-link-colour {
  color: c.$default-link;
}

%default-link-decor {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: c.$default-link-underline;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 3px;
}

%default-link-hover {
  &:hover,
  &:focus {
    text-decoration-line: underline;
    text-decoration-style: solid;
  }
}

%menu-link {
  color: c.$midLight-text;
  text-decoration: none;
  display: block;

  &:hover,
  &:focus {
    color: c.$light-text;
    background-color: c.$midDark-bg;
  }
}

%sub-menu-dropdown {
  position: absolute;
  display: none;
  background: c.$dark-bg;
  width: max-content;
  border: 1px solid c.$menu-border;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

%default-button {
  color: c.$light-text;
  background-color: c.$red;
  padding: 18px 12px;
  line-height: 0;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: c.$yellow;
  }
}

%default-input {
  color: c.$red;
  background-color: c.$light-bg;
  padding: 6px 12px;
  line-height: 0;
  border: 1px solid c.$form-input-border;
  text-align: left;
}
