@forward "colours";
@forward "layout";
@forward "fonts";
@forward "break-points";

@use "colours" as c;
@use "layout" as l;
@use "fonts" as f;

// Text

%default-headings {
  margin-top: 1em;
  margin-bottom: 1em;
}

%default-h2 {
  font-size: clamp(24px, 3vw, 30px);
}

%default-h3 {
  font-size: clamp(20px, 3vw, 26px);
}

%default-h4 {
  font-size: 1em;
  font-weight: bold;
}

%default-ul-list {
  & > :where(ul:not(.toggle-list)) {
    margin-bottom: l.$default-y-space;
    & > :where(li) {
      background-image: url("images/q.svg");
      background-size: 0.65em auto;
      background-repeat: no-repeat;
      background-position: 0 6px;
      padding-left: 1.2em;
      margin-left: l.$default-x-space;
      margin-right: l.$default-x-space;
    }
  }
  & :where(ul ul li) {
    list-style-type: disc;
    margin-left: l.$default-x-space;
  }
  & :is(ul, ol) ol li {
    margin-left: 0;
  }
}

%default-ol-list {
  & :where(ol) {
    margin-left: l.$default-x-space;
    margin-right: l.$default-x-space;
    & :where(li) {
      list-style-type: decimal;
      list-style-position: outside;
      margin-left: 1.1em;
    }
  }
  & :where(ol ul li) {
    list-style-type: disc;
    margin-left: l.$default-x-space;
  }
}

// Links

$underline-width: 0.15em;

%default-link-core {
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 189, 33, 0);
  text-decoration-thickness: $underline-width;
  text-underline-offset: $underline-width;
  transition: text-decoration-color 500ms ease-in;
}

%default-link-colour {
  color: c.$default-link;
}

%default-link-decor {
  text-decoration-color: c.$default-link-underline;
  text-decoration-style: dotted;
}

%default-link-hover {
  &:hover {
    text-decoration: underline solid $underline-width;
    text-decoration-color: rgba(255, 189, 33, 1);
  }
}

// Menus

%menu-link {
  color: c.$midLight-text;
  text-decoration: none;
  display: block;

  &:hover,
  &:focus {
    color: c.$light-text;
    background-color: c.$midDark-bg;
  }
}

%sub-menu-dropdown {
  position: absolute;
  display: none;
  background: c.$dark-bg;
  width: max-content;
  border: 1px solid c.$menu-border;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

%oxo {
  background: {
    image: url(images/header-oxo.svg);
    color: c.$primary;
    repeat: repeat-x;
  }
  height: 17px;
  position: relative;

  &::before {
    content: "";
    background-image: url(images/wavy-line.svg);
    width: 100%;
    position: absolute;
    height: 4px;
    top: -4px;
  }
}

// Buttons

%default-button {
  color: c.$light-text;
  background-color: c.$primary;
  display: inline-block;
  padding: 1.5em 1em;
  line-height: 0;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: f.$bold-font;
  transition: background-color 0.5s ease-out;

  &:hover {
    background-color: c.$accent;
  }
}

// Forms

%default-form-field {
  color: c.$primary;
  background-color: c.$lightest-bg;
  border: 3px solid c.$form-input-border;
  padding: 6px 12px;
}

%default-input {
  @extend %default-form-field;
  line-height: 0;
  text-align: left;
}

%default-checkbox {
  input[type="checkbox"] {
    @extend %default-form-field;
    width: 1.5em;
    height: 1.5em;
    display: grid;
    place-content: center;
    color: c.$light-text;
  }

  input[type="checkbox"]::after {
    content: "✓";
    font-size: 1em;
    transform: scale(0);
    transition: 1000ms transform ease-in-out;
    font-weight: f.$bold-font;
    position: relative;
    left: -1px;
  }

  input[type="checkbox"]:checked {
    background-color: c.$primary;
  }

  input[type="checkbox"]:checked::after {
    transform: scale(1.5);
  }

  input[type="checkbox"] + label {
    margin: 0;
  }
}

%form-labels {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  font-style: f.$form-label-font-style;
}

%note-before-form {
  margin-bottom: 1em;
  font-size: f.$small-text;
}

// Images and galleries

%a4-img-wrap {
  aspect-ratio: 1 / 1.4142135623730950488016887242097;
  overflow: hidden;
}

%responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}

%gallery-caption-hack {
  content: "\200B"; /* Zero width space */
  display: block;
  line-height: 0;
}

%gallery-caption {
  font-size: f.$small-text;
  margin-top: 1em;
}

// Boxes and lines

%pale-rule {
  border-top: l.$pale-rule-border;
}

%highlight-box {
  line-height: 1.4em;
  padding: 1em;
  border: l.$primary-rule-border;
  margin-bottom: 1em;

  & p:last-child {
    margin-bottom: 0;
  }
}

%highlight-box-title {
  background-color: c.$primary;
  color: c.$light-text;
  text-align: center;
  padding: 10px 5px;
}

%yellow-highlight-box {
  margin: 50px 0;
  padding: 20px;
  border: 5px dotted c.$accent;
  text-align: center;
}
