@use "colours" as c;

%default-text {
  font-family: notosans, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: c.$dark-text;
}

%default-h2 {
  font-size: clamp(24px, 3vw, 30px);
  margin-top: 1em;
  margin-bottom: 1rem;
}

%default-h3 {
  font-size: clamp(20px, 3vw, 26px);
  margin-top: 1em;
  margin-bottom: 1em;
}

%default-h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

%default-ul-li {
  background-image: url("images/q.svg");
  background-size: 0.65em auto;
  background-repeat: no-repeat;
  background-position: 0 6px;
  padding-left: 1.2em;
}

%default-link-colour {
  color: c.$default-link;
}

%default-link-decor {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: c.$default-link-underline;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 3px;
}

%default-link-hover {
  &:hover,
  &:focus {
    text-decoration-line: underline;
    text-decoration-style: solid;
  }
}

%menu-link {
  color: c.$midLight-text;
  text-decoration: none;
  display: block;

  &:hover,
  &:focus {
    color: c.$light-text;
    background-color: c.$midDark-bg;
  }
}

%sub-menu-dropdown {
  position: absolute;
  display: none;
  background: c.$dark-bg;
  width: max-content;
  border: 1px solid c.$menu-border;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

%default-button {
  color: c.$light-text;
  background-color: c.$red;
  display: inline-block;
  padding: 18px 12px;
  line-height: 0;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;

  &:hover {
    background-color: c.$yellow;
  }
}

%default-form-field {
  color: c.$red;
  background-color: c.$light-bg;
  border: 1px solid c.$form-input-border;
}

%default-input {
  @extend %default-form-field;
  padding: 6px 12px;
  line-height: 0;
  text-align: left;
}

%default-checkbox {
  input[type="checkbox"] {
    @extend %default-form-field;
    width: 1.5em;
    height: 1.5em;
    display: grid;
    place-content: center;
    color: c.$light-text;
  }

  input[type="checkbox"]::after {
    content: "✓";
    font-size: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    font-weight: 800;
  }

  input[type="checkbox"]:checked {
    background-color: c.$red;
  }

  input[type="checkbox"]:checked::after {
    transform: scale(1);
  }
}

%a4-img-wrap {
  aspect-ratio: 1 / 1.4142135623730950488016887242097;
  overflow: hidden;
}

%responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}

%pale-rule {
  border-top: 1px solid c.$border-rule;
}
